.custom-autocomplete {
  width: 350px;
  margin-top: 3px;
  padding: 1px;
  color: white;
}

.custom-autocomplete .MuiAutocomplete-popup {
  background-color: #1a1a1a;
}

.custom-autocomplete .MuiInputBase-root {
  background-color: rgb(247, 244, 244);
}

/* Custom Scroll Bar Styling */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1f2937;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: rgb(13 17 23);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(13 17 23);
}

/* Dashboard  */
.main-diagram .MuiChartsAxis-line {
  stroke: rgb(255, 255, 255) !important;
  stroke-width: 3px !important;
}
.main-diagram .MuiChartsAxis-tickLabel {
  font-size: 15px !important;
  fill: white !important;
}
