# Dependencies
/node_modules

# Build output
/dist
/.cache
/.pnp
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data
/tmp
/cache

# Logs
/logs
*.log

# Editor/IDE specific
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*